.editProfileContainer {
  padding: 1.25rem;
  background-color: #d2b48c;

  margin: 0 auto;
}

.fotoNome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.fotoNome h1 {
  margin: 0;
  font-size: 6rem;
  font-weight: 300;
}

.foto {
  width: 20rem;
  height: 17.2rem;
  border-radius: 50%;
  background-color: #cccccc;
  margin-right: 0.94rem;
}

.nomeBadge {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chooseImage {
  background-color: #a42e2e;
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}

.form label {
  display: block;
  margin: 0.625rem 0 0.3125rem;
}

.input {
  width: 100%;
  height: 4.75rem;
  font-size: 2.5rem;
  padding: 0.5rem;
  margin-bottom: 0.9375rem;
  border: 1px solid #000;
}

textarea {
  width: 100%;
  height: 14.56rem;
  font-size: 2.5rem;
  padding: 0.5rem;
  margin-bottom: 0.9375rem;
  border: 1px solid #000;
}

hr {
  margin: 1.25rem 0;
}

.saveButton {
  background-color: #a42e2e;
  color: white;
  padding: 0.625rem 0.9375rem;
  border: none;
  cursor: pointer;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 6.25rem;
  text-align: center;
}

@media (max-width: 48rem) {
  .fotoNome {
    flex-direction: column;
    text-align: center;
  }

  .foto {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .nomeBadge {
    align-items: center;
  }

  .fotoNome h1 {
    font-size: 4rem;
  }

  .input,
  textarea {
    font-size: 2rem;
    height: auto;
    padding: 0.5rem;
  }
}
