.main {
    background-color: #D2B48C;
    min-height: 886px;
    width: 100%;
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha os itens ao canto esquerdo */
    padding: 20px;
    gap: 20px;
}

.title {
    text-align: start;
    font-size: 36px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    color: #e63946;
   
    width: 100%;
    
    border-bottom: 1px solid #e63946;
}


.cardsRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
    max-width: 1280px;
    justify-items: center;
    margin-bottom: 28px;
}

.cardAdd {
    background-color: #f0f0f0;
    border: 2px dashed #000000;
    border-radius: 20px;
    min-width: 420px;
    min-height: 346px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display';
    font-size: 48px;
    font-style: normal;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.cardAdd:hover {
    transform: scale(1.05);
    background-color: #dcdcdc;
}


