.container {
    display: flex;
    flex-direction: column;

    background-color: #D2B48C;
    width: 100%;
    min-height: 761px;
    padding: 20px;
    font-family: 'Playfair Display';
    color: #e63946;
 
    box-sizing: border-box;
    overflow: auto;
    max-height: 100vh;
}
.perfilContainer {
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #e63946;
    padding: 20px;
}

.perfilDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fotoNome {

    display: flex;
    align-items: center;

}
.fotoNome h1{
    margin: 0;
    font-size: 96px;
    font-weight: 300;
}
.foto {
    width: 318px;
    height: 275px;
    border-radius: 50%;
    background-color: #cccccc;
    margin-right: 15px;
}
.nomeBadge {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.badge {
    background-color: #e63946;
    width: 191px;
    height: 61px;
    color: #000;
    border-radius: 30px;
    font-size: 40px;
    margin-top: 5px;
    text-align: center;
}
.editarPerfil {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.descricao {
    margin: 20px 0;
    background-color: #fff2e6;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #d9a774;
    margin: 50px 50px;
}
.descricao h3 {
    margin: 0;
    color: #a52a2a;
}
.scroll{
    font-family: 'Playfair Display', serif;
    color: #000;
   
    display: flex;
    overflow-x: auto; 
    gap: 16px; 
    padding: 10px;
    scroll-behavior: smooth;
}

.scrollContainer::-webkit-scrollbar-track::-webkit-scrollbar {
    height: 8px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.scroll::-webkit-scrollbar-track {
    background: #f4f4f4;
}

.cardAdd {
    background-color: #f0f0f0;
    border: 2px dashed #000000;
    border-radius: 20px;
    min-width: 420px;
    min-height: 346px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display';
    font-size: 48px;
    font-style: normal;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;}

.cardAdd:hover {
    border-color: #999;
}