.card{
    background-color: #e63946;
    border: 2px solid #000000;
    border-radius: 20px;
    min-width: 420px; /* Largura fixa */
    min-height: 346px; 
    margin: 10px;
    margin-left: 36px ;
    font-family: 'Playfair Display';
    font-style: normal;
    
}
.custom_link{
    text-decoration: none;
    color: inherit;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.titulo h2{
    margin: 0;
    font-size: 48px;
}
.trashButton{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}
.text{
    padding-top: 50px;
    margin: 8px 0;
    font-size: 24px;
}