<<<<<<< HEAD

  
  .loading {
    background-color: #e2e3e5;
    color: #383d41;
    border: 1px solid #d6d8db;
  }


=======
>>>>>>> ebca78f3438fae3b1cdd6d2b3ad72de18feaf210
.feedbackContainer {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 8px;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .success {
    background-color: #e6ffe6;
    border: 1px solid #4caf50;
    color: #2e7d32;
  }
  
  .error {
    background-color: #ffe6e6;
    border: 1px solid #ff4d4d;
    color: #d32f2f;
  }
  
  .feedbackMessage {
    margin: 0.5rem 0;
<<<<<<< HEAD
  }
=======
  }
  
>>>>>>> ebca78f3438fae3b1cdd6d2b3ad72de18feaf210
